{% load template_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Report</title>
      {% include 'html_export/custom_style.htm' %}

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
   </head>

   <body>

      <header>
         {% include 'partials/jersey_logo.htm' %}
      </header>

      <main>
      {% for resource in resources %}
         {% with resource_data=resource.resource %}

            <div class="upper-section">

               <h1>Public Finds Scheme Find Identification Report</h1>

               {% with object_type=resource_data|val_from_key:"Archaeological Object Type" %}
                  {% for object in object_type %}
                     <h2>{{object|val_from_key:"@display_value"}}</h2>

                        {% with artefact_names=resource_data|val_from_key:"Artefact Names" %}
                           {% for name in artefact_names %}
                              <p class="content">{{ name|val_from_key:"HER Number"|val_from_key:"@display_value" }}</p>
                           {% endfor %}
                        {% endwith %}

                     <p class="content">{{object|val_from_key:"Archaeological Object Type Certainty"|val_from_key:"@display_value"}}</p>
                  {% endfor %}
               {% endwith %}

               {% with urls=resource_data|val_from_key:"Images"|val_from_key:"file_details" %}
                  {% for url in urls %}
                     <img class="find-image" src="https://her-test.jerseyheritage.org/{{ url|val_from_key:"url" }}">
                  {% endfor %}
               {% endwith %} 

            </div>

            <h3>Artefact Description</h3>
            <p>{{ resource_data|val_from_key:"Description"|val_from_key:"Artefact Description"|val_from_key:"@display_value"|safe }}</p>

            <div class="content-row">
               <div class="keeptogether">
               <h3>Spatial Location</h3>
                  {% with features=resource_data|val_from_key:"Place"|val_from_key:"Coordinates"|val_from_key:"geojson"|val_from_key:"features" %}
                     {% for feature in features %}
                        <p>
                           {{feature|val_from_key:"geometry"|val_from_key:"type"}}
                           {{feature|val_from_key:"geometry"|val_from_key:"coordinates"}}
                        </p>
                     {% endfor %}
                  {% endwith %}
               </div>

               <div class="keeptogether">
                  <h3>Spatial accuracy of find location</h3>
                  <p>{{ resource_data|val_from_key:"Place"|val_from_key:"Coordinates"|val_from_key:"Spatial Accuracy"|val_from_key:"Spatial Accuracy Find Location"|val_from_key:"@display_value" }}</p>
               </div>
            </div>

            <div class="keeptogether">
               <h3>Location notes</h3>
               <p>{{ resource_data|val_from_key:"Place"|val_from_key:"Coordinates"|val_from_key:"Spatial Metadata Assignment"|val_from_key:"Location Notes"|val_from_key:"@display_value" }}</p>
            </div>

            <div class="content-row">
               <div class="keeptogether">
                  <h3>Broad Period From</h3>
                  <p>{{resource_data|val_from_key:"Archaeology Dating"|val_from_key:"Archaeology From"|val_from_key:"Archaeology From Time Span"|val_from_key:"Archaeology Broad Period From"|val_from_key:"@display_value"}}</p>
               </div>

               <div class="keeptogether">
                  <h3>Broad Period To</h3>
                  <p>{{resource_data|val_from_key:"Archaeology Dating"|val_from_key:"Archaeology To"|val_from_key:"Archaeology To Time Span"|val_from_key:"Archaeology Broad Period To"|val_from_key:"@display_value"}}</p>
               </div>
            </div>

            {% for attributes in resource_data|val_from_key:"Physical Attributes" %}
            <div class="keeptogether">
               <h3>Dimensions and Weight</h3>
               <p>{{attributes|val_from_key:"Measurement Event"|val_from_key:"Measurement"|val_from_key:"Dimensions"|val_from_key:"@display_value"}}</p>
            </div>
            <div class="keeptogether">
               <h3>Manufacture Method</h3>
               <p>{{attributes|val_from_key:"Manufacture Method"|val_from_key:"@display_value"}}</p>
            </div>
            <div class="keeptogether">
               <h3>Surface Treatment</h3>
               <p>{{attributes|val_from_key:"Surface Treatment"|val_from_key:"@display_value"}}</p>
            </div>
            <div class="keeptogether">
               <h3>Primary Material</h3>
               <p>{{attributes|val_from_key:"Material"|val_from_key:"@display_value"}}</p>
            </div>
            <div class="keeptogether">
               <h3>Secondary Material</h3>
               <p>{{attributes|val_from_key:"Secondary Material"|val_from_key:"@display_value"}}</p>
            </div>
            {% endfor %}

            <div class="keeptogether">
               <h3>Land Use</h3>
               <p>{{ resource_data|val_from_key:"Discovery"|val_from_key:"Discovery Context"|val_from_key:"Discovery Context Time Span"|val_from_key:"Land Use"|val_from_key:"@display_value" }}</p>
            </div>

            <div class="keeptogether">
               <h3>Depth of Discovery</h3>
               <p>{{ resource_data|val_from_key:"Discovery"|val_from_key:"Discovery Context"|val_from_key:"Depth of Discovery"|val_from_key:"@display_value" }}</p>
            </div>
      
            <div class="keeptogether">
               <h3>Discovery Date</h3>
               <p>{{ resource_data|val_from_key:"Discovery"|val_from_key:"Discovery Context"|val_from_key:"Discovery Context Time Span"|val_from_key:"Discovery Date"|val_from_key:"@display_value" }}</p>
            </div>

            <div class="keeptogether">
               <h3>Discovery Method</h3>
               <p>{{ resource_data|val_from_key:"Recovery"|val_from_key:"Discovery Method"|val_from_key:"@display_value" }}</p>
            </div>
            
            {% for assessment in resource_data|val_from_key:"Condition Assessment" %}
            <div class="keeptogether">
               <h3>Condition when reported</h3>
               <p>{{ assessment|val_from_key:"Condition State"|val_from_key:"Condition When Reported"|val_from_key:"@display_value" }}</p>
            </div>
            <div class="keeptogether">
               <h3>Conservation notes</h3>
               <p>{{ assessment|val_from_key:"Condition State"|val_from_key:"Condition Description Assignment"|val_from_key:"Conservation Notes"|val_from_key:"@display_value" }}</p>
            </div>
            <div class="keeptogether">
               <h3>Completeness</h3>
               <p>{{ assessment|val_from_key:"Condition State"|val_from_key:"Condition Time Span "|val_from_key:"Completeness"|val_from_key:"@display_value" }}</p>
            </div>
            {% endfor %}

            <div class="keeptogether">
               <h3>Subsequent Action</h3>
               <p>{{ resource_data|val_from_key:"Inscription"|val_from_key:'Subsequent Action'|val_from_key:"@display_value" }}</p>
            </div>
            
            <div class="keeptogether">
               <h3>General notes</h3>
               <p>{{ resource_data|val_from_key:"Notes"|val_from_key:"Artefact Notes"|val_from_key:"@display_value" }}</p>
            </div>

            <div class="keeptogether">
               <h3>Identified By</h3>
               <p>{{ resource_data|val_from_key:"Discovery"|val_from_key:"Discovery Event"|val_from_key:"Identifier"|val_from_key:"Identifier Names"|val_from_key:"Identifier Name"|val_from_key:"@display_value" }}</p>
            </div>

            <div class="keeptogether">
               <h3>Found By</h3>
               <p>{{ resource_data|val_from_key:"Discovery"|val_from_key:"Discovery Event"|val_from_key:"Finder"|val_from_key:"Finder Names"|val_from_key:"Finder Name"|val_from_key:"@display_value" }}</p>
            </div>

            

         {% endwith %}
      {% endfor %}

      </main>
      
      <footer class="first-page-footer">
         <p>Jersey Heritage, Jersey Museum,</p>
         <p>The Weighbridge, St Helier, Jersey JE2 3NG Telephone: +44 (0) 1534 633300</p>
         <p>Email: <a href="mailto:info@jerseyheritage.org">info@jerseyheritage.org</a></p>
         <p>Registered charity no.411</p>
      </footer>

      </body>
      </html>