body {
    margin-top: 50px; }
    body > header {
      display: block;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1030;
      background: #fff none;
      border-bottom: 1px solid #ddd;
      padding: 0;
      color: #fff;
      max-height: 50px; }
      body > header nav {
        position: relative;
        min-height: 50px;
        font-size: 14px; }
        body > header nav:before, body > header nav:after {
          content: " ";
          display: table; }
        body > header nav:after {
          clear: both; }
      body > header .navbar-brand {
        /* margin-left: 37px; */
        width: 100px;
        height: 50px;
        position: relative; }
        body > header .navbar-brand img {
          filter: invert(100%);
          position: absolute;
          width: 100%;
          top: 0;
          bottom: 0;
          margin: auto; }
      body > header .navbar-nav {
        float: right;
        right: 0;
        margin: 0 0 0 0;
        bottom: 0;
        position: absolute;
        bottom: 0;
        max-width: 65%; }
    body.home-page > header nav {
      position: relative; }
    body.home-page > header .navbar-brand {
      margin-left: 0;
      width: 100px;
      height: 50px; }
    @media (min-width: 768px) {
      body.home-page > header {
        min-height: 150px; }
        body.home-page > header nav {
          min-height: 150px; }
        body.home-page > header .navbar-brand {
          width: 200px;
          height: 150px; } }
    @media (min-width: 1200px) {
      body.home-page > header {
        text-align: center; }
        body.home-page > header .navbar-brand {
          float: none;
          display: block;
          position: absolute;
          margin-left: -100px !important;
          padding: 0;
          left: 50%; }
        body.home-page > header .navbar-nav {
          max-width: 45%; } }
  
