.report-copy-btn {
    margin-top: 20px;
    font-size: 1.3rem;
}

.copy-geojson-message {
    padding: 2px;
    font-size: 1.2rem;
}

.icon-styling {
    font-size: 1.5rem;
}

.tick-styling {
    color: green;
}

@media print {
    /* note: '.toggle-container' has been removed on dev/7.6.x */
    .mapboxgl-ctrl-geocoder,
    .workbench-card-sidebar,
    .report-print-date  > .toggle-container {
        display: none;
    }

    .workbench-card-container.map-container {
        width: 100%;
    }

    .mapboxgl-map {
        display: block;
    }

    /* Fix multi-page printing bug (fixed on dev/7.6.x) */

    #container {
        height: auto !important;
    }

    .resource-component-abstract {
        height: auto !important;
        overflow: visible !important;
    }
}