.report-copy-btn {
    margin-top: 20px;
    font-size: 1.3rem;
}

.copy-geojson-message {
    padding: 2px;
    font-size: 1.2rem;
}

.icon-styling {
    font-size: 1.5rem;
}

.tick-styling {
    color: green;
}

@media print {
    .mapboxgl-ctrl-geocoder,
    .workbench-card-sidebar {
        display: none;
    }

    .workbench-card-container.map-container {
        width: 100%;
    }

    .mapboxgl-map {
        display: block;
    }

}

/* Fix for header creating extra scrollbar: */

.sidenav {
    height: calc(100vh - 50px);
}

.content-panel {
    height: calc(100vh - 100px);
}

#container {
    height: calc(100vh - 100px);
    min-height: calc(100vh - 50px);
}

article.main-search-container .search-map-container .tab-content .tab-content-component {
    height: calc(100vh - 150px);
}
