.font-open-sans,
.parallax-quote-in p,
.portfolio-box-v1 .portfolio-box-v1-in,
.portfolio-box-v2 .portfolio-box-v2-in,
.title-v1 h1,
.title-v1 h2,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", Arial, sans-serif
}
.owl-controls,
.pace {
    -moz-user-select: none
}
.btn-u,
.tp-caption {
    white-space: nowrap
}
h1 {
    font-size: 28px;
    line-height: 35px
}
h2 {
    font-size: 24px;
    line-height: 33px
}
h3 {
    font-size: 20px;
    line-height: 27px
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 5px;
    text-shadow: none;
    font-weight: 400
}
.title-v1 {
    z-index: 1;
    position: relative;
    text-align: center;
    margin-bottom: 60px
}
.title-v1 h1,
.title-v1 h2 {
    color: #444;
    font-size: 28px;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 20px;
    text-transform: uppercase
}
.title-v1 h1:after,
.title-v1 h2:after {
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 70px;
    content: " ";
    margin-left: -35px;
    position: absolute
}
.title-v1 p {
    font-size: 17px;
    font-weight: 200
}
.btn-u,
.dropdown-show {
    display: inline-block;
    position: relative
}
.btn-u,
.btn-u:hover {
    color: #fff;
    text-decoration: none
}
.btn-u {
    border: 0;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px
}
.btn-u:hover {
    transition: all .3s ease-in-out
}
.btn-u.active,
.btn-u:active,
.btn-u:focus,
.btn-u:hover,
.open .dropdown-toggle.btn-u {
    background: #5fb611
}
.btn-u.btn-brd,
.btn-u.btn-brd:focus,
.btn-u.btn-brd:hover {
    background: 0 0
}
.btn-u.btn-brd {
    color: #555;
    padding: 5px 13px;
    border: 1px solid #72c02c
}
.btn-u.btn-brd.btn-brd-hover:hover {
    color: #fff !important;
    background: #5fb611
}
.btn-u.btn-brd:hover {
    color: #5fb611;
    border-color: #5fb611
}
.btn-u.btn-brd.btn-u-light {
    color: #fff;
    border-color: #fff
}
.btn-u.btn-brd.btn-u-light:hover {
    border-color: #fff
}
.btn-u.btn-brd.btn-u-light.btn-brd-hover:hover {
    background: #fff;
    color: #555 !important
}
.content-lg {
    padding-top: 100px;
    padding-bottom: 100px
}
.bg-grey {
    background: #f7f7f7;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee
}
.rounded-x {
    border-radius: 50% !important
}
.text-bold {
    font-weight: 600 !important
}
.tp-bullets.preview4 .bullet {
    border-radius: 10px !important
}
.fullscreenbanner-container ul li,
.tp-banner-container ul li {
    list-style: none;
    visibility: hidden
}
.rs-caption-1 {
    color: #fff;
    font-size: 32px;
    font-weight: 200;
    padding: 6px 75px;
    position: relative;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff
}
.rs-caption-1:after,
.rs-caption-1:before {
    font-size: 16px;
    content: "\f005";
    position: absolute;
    font-family: FontAwesome
}
.rs-caption-1:after {
    right: 4%
}
.rs-caption-1:before {
    left: 4%
}
.rs-caption-2 {
    color: #fff;
    position: relative;
    font-size: 26px;
    font-weight: 200;
    line-height: 40px;
    padding: 10px 50px;
    text-align: center
}
.rs-caption-2:after {
    left: 50%;
    content: "";
    height: 1px;
    width: 100px;
    bottom: -10px;
    background: #fff;
    margin-left: -50px;
    position: absolute
}
.rs-caption-3 a {
    margin: 0 5px;
    padding: 7px 20px;
    text-transform: uppercase
}
.one-page-header .container,
.service-info {
    position: relative
}
body,
html {
    width: 100%;
    height: 100%
}
.team-v1 li>h3,
h1,
h2,
h3,
h4,
h5,
h6,
li,
li a,
p {
    color: #555
}
body {
    color: #333;
    font-size: 13px;
    line-height: 1.6
}
a,
a:focus {
    text-decoration: none
}
a,
a:active,
a:focus,
a:hover {
    outline: 0 !important
}
a:hover {
    color: #72c02c;
    text-decoration: underline
}
::selection {
    color: #fff;
    background: #72c02c
}
.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
    max-height: 100%
}
.one-page-header {
    border-bottom: none;
    background: rgba(0, 0, 0, .4)
}
.one-page-header .navbar-nav>li>a {
    color: #eee;
    font-size: 12.5px;
    text-transform: uppercase;
    padding: 17px 15px 13px
}
.one-page-header .navbar-nav>li>a:before {
    left: -3px;
    top: 15px;
    z-index: 2;
    color: #eee;
    font-size: 4px;
    content: "\f10c";
    margin-right: 6px;
    position: absolute;
    font-family: FontAwesome
}
.one-page-header .navbar-nav>li>a:hover {
    z-index: 1;
    color: #72c02c
}
.one-page-header .dropdown-menu>.active>a,
.one-page-header .dropdown-menu>.active>a:focus,
.one-page-header .dropdown-menu>.active>a:hover,
.one-page-header .navbar-nav>.active>a,
.one-page-header .navbar-nav>.active>a:focus,
.one-page-header .navbar-nav>.active>a:hover,
.one-page-header.top-nav-collapse .dropdown-menu>.active>a,
.one-page-header.top-nav-collapse .dropdown-menu>.active>a:focus,
.one-page-header.top-nav-collapse .dropdown-menu>.active>a:hover {
    background: 0 0
}

@media(min-width:992px) {
    .one-page-header.navbar {
        padding: 12px 0;
        -webkit-transition: background .3s ease-in-out, padding .3s ease-in-out;
        -moz-transition: background .3s ease-in-out, padding .3s ease-in-out;
        transition: background .3s ease-in-out, padding .3s ease-in-out
    }

    .one-page-header.top-nav-collapse {
        padding: 7px 0
    }
}

@media (min-width:992px) {
    .one-page-header.navbar .navbar-nav {
        float: right
    }
}
.one-page-header.top-nav-collapse {
    background: #fff;
    box-shadow: 0 0 3px #b5b5b5
}
.one-page-header.top-nav-collapse .navbar-brand,
.one-page-header.top-nav-collapse .navbar-nav>li>a,
.one-page-header.top-nav-collapse .navbar-nav>li>a:before {
    color: #777
}
.intro-section {
    background: #222
}
.about-section {
    padding-top: 40px;
    padding-bottom: 0
}
.about-section .about-image {
    padding-top: 100px
}
.contacts-section {
    color: #fff;
    position: relative;
    background: url(../img/landing/bg/3.jpg) center fixed #333;
    background-size: cover
}
.contacts-section:after,
.contacts-section:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute
}
.contacts-section:after {
    background: rgba(0, 0, 0, .7)
}
.contacts-section:before {
    background: url(../img/landing/patterns/gridtile.png)
}
.copyright-section {
    z-index: 1;
    background: #fff;
    position: relative;
    text-align: center;
    padding: 25px 0 20px
}
.copyright-section p {
    font-size: 14px
}

.copyright-section i.back-to-top {
    left: 50%;
    top: -35px;
    color: #555;
    font-size: 20px;
    background: #fff;
    padding: 8px 10px;
    margin-left: -15px;
    position: absolute
}
.tparrows,
.tparrows.preview1,
.tparrows.preview1 .tp-arr-imgholder {
    -webkit-backface-visibility: hidden
}
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none
}
.pace-inactive {
    display: none
}
.pace .pace-progress {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s
}
.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    opacity: 1;
    -webkit-transform: rotate(3deg) translate(0, -4px);
    -moz-transform: rotate(3deg) translate(0, -4px);
    -ms-transform: rotate(3deg) translate(0, -4px);
    -o-transform: rotate(3deg) translate(0, -4px);
    transform: rotate(3deg) translate(0, -4px)
}
.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: 2px solid transparent;
    border-radius: 10px !important;
    -webkit-animation: pace-spinner .4s linear infinite;
    -moz-animation: pace-spinner .4s linear infinite;
    -ms-animation: pace-spinner .4s linear infinite;
    -o-animation: pace-spinner .4s linear infinite;
    animation: pace-spinner .4s linear infinite
}
.tp-bannershadow,
.tp-simpleresponsive img {
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none
}
.tp-caption {
    z-index: 1
}
.tp-caption a {
    color: #ff7302;
    text-shadow: none;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out
}
.tp-caption a:hover {
    color: #ffa902
}
.tp-simpleresponsive .caption,
.tp-simpleresponsive .tp-caption {
    position: absolute;
    visibility: hidden;
    -webkit-font-smoothing: antialiased !important
}
.tp-simpleresponsive img {
    max-width: none;
    -moz-user-select: none
}
.html5vid.videoisplaying .tp-video-play-button,
.tparrows .tp-arr-imgholder,
.tparrows .tp-arr-titleholder {
    display: none
}
.tp-bullets,
.tparrows {
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out
}
.tpclear {
    clear: both
}
.tp-bullets {
    z-index: 1000;
    position: absolute;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: translateZ(5px)
}
.tp-bullets.hidebullets {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0
}
.tp-bullets.simplebullets .bullet.selected,
.tp-bullets.simplebullets .bullet:hover {
    background-position: top left
}
.tparrows {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transform: translateZ(5000px);
    -webkit-transform-style: flat;
    z-index: 600;
    position: relative
}
.tp-leftarrow,
.tp-rightarrow {
    z-index: 100;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px
}
.tparrows.hidearrows {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0
}
.tp-leftarrow.default,
.tp-rightarrow.default {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 100
}
.tp-leftarrow:hover,
.tp-rightarrow:hover {
    background-position: bottom left
}
.tp-bannertimer {
    width: 100%;
    height: 10px;
    /* background: url(../plugins/revolution-slider/rs-plugin/assets/timer.png); */
    position: absolute;
    z-index: 200;
    top: 0
}
.tp-bannertimer.tp-bottom {
    bottom: 0;
    height: 5px;
    top: auto
}
.tp-simpleresponsive a {
    text-decoration: none
}
.tp-simpleresponsive ul,
.tp-simpleresponsive ul li,
.tp-simpleresponsive ul li:before {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
    overflow-x: visible;
    overflow-y: visible;
    background-image: none
}
.tp-simpleresponsive>ul>li {
    list-style: none;
    position: absolute;
    visibility: hidden
}
.tp-bullets.preview3 .bullet,
.tp-bullets.preview4 .bullet {
    -webkit-border-radius: 10px;
    margin-right: 2px !important;
    margin-bottom: 0 !important;
    float: none !important;
    box-sizing: content-box;
    cursor: pointer
}
.tp-bullets.preview3,
.tp-bullets.preview4 {
    height: 17px
}
.tparrows.preview4 {
    width: 30px;
    height: 110px;
    background: 0 0;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000;
    -moz-perspective: 1000
}
.tparrows.preview4:after {
    position: absolute;
    line-height: 110px;
    text-align: center;
    font-family: revicons;
    color: #fff;
    font-size: 20px;
    top: 0;
    left: 0;
    z-index: 0;
    width: 30px;
    height: 110px;
    background: #000;
    background: rgba(0, 0, 0, .25);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1
}
.tparrows.preview4 .tp-arr-imgholder,
.tparrows.preview4 .tp-arr-imgholder2 {
    background-size: cover;
    background-position: center center;
    width: 180px;
    height: 110px;
    top: 0;
    -webkit-backface-visibility: hidden;
    display: block
}
.tp-rightarrow.preview4:after {
    content: '>'
}
.tparrows.preview4 .tp-arr-allwrapper {
    visibility: hidden;
    width: 180px;
    position: absolute;
    z-index: 1;
    min-height: 120px;
    top: 0;
    left: -150px;
    overflow: hidden;
    -webkit-perspective: 1000px;
    -webkit-transform-style: flat
}
.tp-leftarrow.preview4 .tp-arr-allwrapper {
    left: 0
}
.tparrows.preview4 .tp-arr-iwrapper {
    position: relative
}
.tparrows.preview4 .tp-arr-imgholder {
    position: relative;
    backface-visibility: hidden
}
.tparrows.preview4 .tp-arr-imgholder2 {
    position: absolute;
    left: 180px;
    backface-visibility: hidden
}
.tp-leftarrow.preview4 .tp-arr-imgholder2 {
    left: -180px
}
.tparrows.preview4 .tp-arr-titleholder {
    display: block;
    padding: 0 10px;
    text-align: left;
    position: relative;
    background: #000;
    color: #FFF;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 11px;
    line-height: 2.75;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0
}
.tparrows.preview4:after {
    transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%
}
.tp-leftarrow.preview4:after {
    content: '<';
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0
}
@media only screen and (min-width:768px) {
.tparrows.preview4:hover:after {
        -webkit-transform: rotateY(-90deg);
        transform: rotateY(-90deg)
    }
.tparrows.preview4:hover .tp-arr-titleholder {
        -webkit-transition-delay: .4s;
        transition-delay: .4s;
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1
    }
}
.tp-bullets.preview4 .bullet {
    position: relative !important;
    background: rgba(0, 0, 0, .5) !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 6px !important;
    height: 6px !important;
    border: 5px solid transparent !important;
    display: inline-block;
    -webkit-transition: background-color .2s, border-color .2s;
    -moz-transition: background-color .2s, border-color .2s;
    -o-transition: background-color .2s, border-color .2s;
    -ms-transition: background-color .2s, border-color .2s;
    transition: background-color .2s, border-color .2s;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box
}
.tp-bullets.preview4 .bullet.last {
    margin-right: 0
}
.tp-bullets.preview4 .bullet.selected,
.tp-bullets.preview4 .bullet:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: rgba(255, 255, 255, 1) !important;
    width: 6px !important;
    height: 6px !important;
    border: 5px solid rgba(0, 0, 0, 1) !important
}
.tp-loader.spinner0,
.tp-loader.spinner1 {
    width: 40px;
    height: 40px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 3px
}
.tp-loader {
    top: 50%;
    left: 50%;
    z-index: 10000;
    position: absolute
}
.tp-loader.spinner0 {
    /* background: url(../plugins/revolution-slider/rs-plugin/assets/loader.gif) center center no-repeat #fff; */
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
    -webkit-animation: tp-rotateplane 1.2s infinite ease-in-out;
    animation: tp-rotateplane 1.2s infinite ease-in-out;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}
a {
    color: #4765a0
}
.pace .pace-progress {
    background: #4765a0
}
.pace .pace-progress-inner {
    box-shadow: 0 0 10px #4765a0, 0 0 5px #4765a0
}
.pace .pace-activity {
    border-top-color: #4765a0;
    border-left-color: #4765a0
}
.one-page-header .dropdown-menu>.active>a,
.one-page-header .dropdown-menu>.active>a:focus,
.one-page-header .dropdown-menu>.active>a:hover,
.one-page-header .navbar-nav>.active>a,
.one-page-header .navbar-nav>.active>a:focus,
.one-page-header .navbar-nav>.active>a:hover,
.one-page-header.top-nav-collapse .dropdown-menu>.active>a,
.one-page-header.top-nav-collapse .dropdown-menu>.active>a:focus,
.one-page-header.top-nav-collapse .dropdown-menu>.active>a:hover {
    color: #4765a0 !important;
    z-index: 1
}
.navbar-default .navbar-nav .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: #4765a0;
    z-index: 1
}
.color-green,
.copyright-section i.back-to-top:hover,
.news-v1 .news-v1-info li a:hover,
.news-v1 h3 a:hover,
.service-box-v1 li:hover,
.testimonials-v3 .testimonials-v3-title p {
    color: #4765a0
}
.title-v1 h1:after,
.title-v1 h2:after,
i.icon-bg-u {
    background: #4765a0
}
.btn-u {
    background: #4765a0
}
body.dark p,
li,
li a {
    color: #777
}


